/*font-family: 'Montserrat', sans-serif;
font-family: 'Lato', sans-serif;*/
/*{
	margin: 0px;
	font-family: 'Montserrat', sans-serif;*/
}
body{
	margin: 0 auto;
	padding: 0px;

}

h2.titulo-1{
font-family: 'Montserrat', sans-serif;
font-size: 30px;
margin:0px;
padding-left: 150px;
top:12.5px;
position:relative;
}

h2{
	font-family:'Montserrat', sans-serif;
	/*font-size:50px;
	margin-bottom: 50px;*/
	font-weight: bolder;

}
h1{
font-family: 'Montserrat', sans-serif;
font-size: 70px;
text-align: center;
}
.titulo-2{
	font-family:'Montserrat', sans-serif;
	font-size:30px; 
	font-style: bold;*/
}
header{
	background: #2c3e50;
	color: white;
	position: fixed;
	width: 100%;
	padding: 10px;
}
header ul li{
	display: inline-block;
	position: relative;
	left:70%;
	margin: 0px;
	padding-left:25px;
    bottom: 30px;
    font-family:'Montserrat', sans-serif; 
    font-size: 15px;
}
.contenedor-1{
	display: inline-block;
	text-align: center;
	width: 100%;
	height: 100%;
	background: #18bc9c;
	color: white;
	padding-top:  30px;
	margin-top:100px;
}
.imagen-1{
	margin-top: 10px;
	width: 50%;
}
.contenedor-1 imagen-1{
	width: 20%;
	height:20%;  
	
}
.estrella:before, .estrella:after{
	content: "";
    display:inline-block;
    border: 3px solid white;
    width:100px;
    margin:10px;
}
.contenedor-2 {
	display: inline-block;
	text-align: center;
	width: 100%;
	height: 100%;

}
.contenedor-2 ul {
	display: inline-block;
	text-align: center;
    list-style:none;
   	overflow: auto;
   	width: 100%;

}
li img{
	width: 346px;
	height: 253px;
	float: left;
	margin:10px;
	margin-left: 50px;

}
.contenedor-2 .estrella-2:before, .estrella-2:after{
	content: "";
    display:inline-block;
    border: 3px solid black;
    width:100px;
    height:100%;
    margin:10px;
}
h2.titulo-3{
	font-family:'Montserrat', sans-serif;
	font-size:50px;
	margin-bottom: 30px;

}
.contenedor-3{
	background:#18bc9c;
    margin-top: 50 0  50;
	display: inline-block;
	text-align: center;
	width: 100%;
	height: 100%;
	color: white;
	list-style: none;
	text-decoration: none;
}
.contenedor-3 .estrella-3:before, .estrella-3:after{
	content: "";
    display:inline-block;
    border: 3px solid white;
    width:100px;
    height:100%;
    margin:10px;
    color: white;

}
h2.titulo-4{
	font-size: 50px;
}
.parrafo{
	text-align: justify;
	column-count: 2;
	display: inline-block;
	width: 50%;
	font-size: 20px;
	font-family: 'Lato', sans-serif;
	margin-bottom: 30px;
	display:inline-block;
}
.p1{
	padding-bottom: 1.5%;
}
.descarga{
	border: 1px solid white;
	width: 15%;
	color: white;
    position: relative;
    left: 42%;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    margin: 50px  10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.descarga p,.descarga i{
	display: inline-block;
	 }
	 .fa-download{
	 	border: 2 solid white;
	 }

.contenedor-4{
	display: inline-block;
	width: 100%;
	height: 100%;
	font-size: 20px;
	
	 }

h2.titulo-4{
	text-align: center;
}

.contenedor-4 ul{
    list-style:none;
    color:#868E96;
}
.enviar{
    
    background:#18bc9c; 
    width: 7%;
    height: 10%;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 100%;
    font-family: 'Lato', sans-serif;
    color: white;
    position: relative;
    left: 48%;
    padding: 10px;
    font-weight: bolder;
    margin-bottom: 30px;

}
footer{
	background: #2C3E50;
	color:white;
 	width: 100%;
	height: 100%;
	padding: 30px;
	overflow: auto;
}
	
.titulos{
	float-left;
	margin: 2em 2em;
    display: block;
    margin: 20px;
	padding: 10px;
	height: 240px;
	

}
.L1{
position: absolute;
float: left;
left:50px;
padding-top: 0px;
/*outline: 1px solid red;*/
margin-bottom: 10px;
text-align: center;
font-size: 18px;
font-family:'Lato', sans-serif;;

}
.L2{
position: absolute;
float: left;
left:480px;
padding-top: 0px;
/*outline: 1px solid yellow;*/
margin-bottom: 10px;
text-align: center;
font-size: 18px;
font-family:'Lato', sans-serif;;


}
.L3{
position: absolute;
float: left;
left:780px;
padding-top: 0px;
/*outline: 1px solid green;*/
margin-bottom: 10px;
text-align: center;
font-size: 18px;
font-family:'Lato', sans-serif;;


}
.L4{
position: absolute;
float: left;
left: 600px;
margin-top: 200px;
font-size: 15px;
font-family:'Lato', sans-serif;;
}
/*.circulo-1 {
     width: 50px;
     height: 50px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     border: 2px solid white;
     outline: 1px solid red;
     
}*/